# kopieer deze file en hernoem de copy naar .env
ADMIN_PASSWORD='PersoneelVanPrularia'

# om in te loggen als een admin, is de gebruikersnaam : admin
# om in te loggen als een medewerker van Verkoop, is de gebruikersnaam : website.medewerker
# voor beide is het wachtwoord hetzelfde, zie hierboven